.embeddedLink-inner {

  .embeddedLink-description-container{
    width: 99%;
    border-radius: 5px;
    border: 2px solid #dcddde;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .embeddedLink-description{
    padding: 2%;
  }

  .embeddedLink-graphic-pin{
    float: right;
    padding: 10px;
  }

  .icon{
    color:@primary-color;
    cursor:pointer;
  }

  .embeddedLink-iframe-holder {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;

    .embeddedLink-image{
      display:block;
      width:99%;
      height:auto;
      border: 2px solid #030303;
      cursor:pointer;
    }

    .embeddedLink-video{
      display:block;
      width:99%;
      height: auto;
      border: 2px solid #030303;
    }

    .embeddedLink-iframe {
      border: none;
      width: 98%;
      height: 600px;
      vertical-align: top;
      border: 2px solid #030303;
    }

    .embeddedLink-lightBox-popup-container{
      .embeddedLink-lightBox-video{
        width:100%;
        height:99%;
      }
      .embeddedLink-lightBox-iframe-parent{
        width: 100%;
        height: 100%;
        position:absolute;
        top:0px;
        left:0px;
      }
      .embeddedLink-lightBox-popup{
        width: 100%;
        height: 100%;
      }
    }
  }
  .embeddedLink-zoomin-button{
    cursor:pointer;
    float:right;
    position:relative;
    margin-top: 10px;
    margin-right:0px;
    padding: 10px;
    width: 40px;
    height: 40px;
    background:transparent;
  }

}